.footer-div{
    background-color: rgb(230, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-span{
    color: white;
}

.footer-div{
    padding: 1rem 0 1rem 0;
}

.footer-span > i{
    font-size: 1.5rem;
}

/* Small (smaller than 640px)
Medium (641px to 1007px)
Large (1008px and larger) */

@media screen and (max-width: 375px) {
    .footer-div{
       
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        
    }

    .fas,.fab{
        display: block;
        text-align: center;
        
    }
    .footer-span{
        font-size: 0.6em;
    }
  }