/* .top-section{
    margin-bottom: 2rem;
} */

.top-main-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.top-right-div {
  width: 60%;
}

.top-left-div {
  width: 40%;
  text-align: center;
}

.right-top-div > span {
  font-size: 0.9rem;
}

.right-top-div > ul {
  margin: 0 0 0.4rem 0;
}
.bullet-points {
  font-size: 0.9rem;
}

.trophy-image {
  width: 70%;
}

.team-image {
  width: 95%;
  height: 30%;
}

span {
  font-size: 0.9rem;
}

/**/
@media screen and (max-width: 375px) {
  .top-main-div {
    display: flex;
    flex-direction: column;
  }

  .top-left-div {
    width: 40%;
    text-align: center;
    margin: auto;
  }

  .top-right-div {
    width: 100%;
  }

  .bullet-points {
    font-size: 0.7rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
  }

  .right-top-div > ul {
    padding-left: 20px;
    margin-top: 0.5rem;
  }

  .right-top-div,
  .right-bottom-div,
  .right-middle-div,
  .bottom-div-1 {
    text-align: center;
  }

  .right-bottom-div > span {
    font-size: 0.8rem;
  }
}
